README.MD linguist-documentation=true
LICENSE linguist-documentation=true
Examples/README.MD linguist-documentation=true
Examples/FoodTracker/FoodTrackerTests/Info.plist linguist-generated=true
Examples/FoodTracker/FoodTracker/Info.plist linguist-generated=true
Examples/FoodTracker/FoodTracker/Assets.xcassets linguist-generated
Examples/FoodTracker/FoodTracker/Base.lproj linguist-generated
